/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */

.split {
  height: 100%;
  width: 50%;
 
  z-index: 1;
  top: 0; 
  overflow-x: hidden;
  padding-top: 20px;  
  padding-left: 50px;
  padding-bottom: 35px;
}

/* Control the left side */
.left {
  left: 0;
  
}

/* Control the right side */
.right {
  right: 0;

}


  a {
    color: blue; /* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }

  a:hover {
    color: red; /* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }
 
  body {
    color: black; /* set the text color to black here */
    font-family:Montserrat, Segoe UI, Arial, Helvetica, Sans-serif; /* set the font here */
    text-align: center;/* set the text alignment here */
    font-size: 15px;
   }

  footer {
 /* margin-top: 2rem;  */
    margin-bottom: 1rem;
    font-size: 10px;
    color: #2F4F4F;
  }

  h1 {
    padding-top:115px;
    margin-bottom: 0.5rem;
   }

  h2 {
    color: black; /* set the text color of to #075AAB here */
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size:12 px
   
   }

  h3 {
    margin-bottom: 0;
    margin-top: 0.5rem;
   
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }



  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
